<nav class="navbar py-4">
  <img src="assets/img/logo_img.jpg" alt="Logo image" class="logo-img mx-5">
  <h3 class="title me-5 text-white">Biblioteca virtuală a Aademiei Forțelor Aeriene</h3>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <img src="assets/img/plane.webp" class="group-img">
    </div>
    <div class="col-3">
      <img src="assets/img/meteo.jpg" class="group-img">
    </div>
    <div class="col-3">
      <img src="assets/img/military.jpg" class="group-img">
    </div>
    <div class="col-3">
      <img src="assets/img/sky.jpg" class="group-img">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card mb-3">
    <img class="card-img-top" src="assets/img/opened_book.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Manuale Avigație - Naviganți - Piloți</h4>
      <p class="card-text"><small class="text-muted">Academia Forţelor Aeriene „Henri Coandă”</small></p>
      <div class="d-grid">
        <a href="assets/aviatie-naviganti/comunicatii.pdf" class="link odd">Comunicații aeronautice</a>
        <a href="assets/aviatie-naviganti/cunoastere_aeronava.pdf" class="link even">Cunoașterea generală a aeronavei</a>
        <a href="assets/aviatie-naviganti/legislatie.pdf" class="link odd">Legislație aeronautică</a>
        <a href="assets/aviatie-naviganti/meteorologie.pdf" class="link even">Manual de pregătire teoretică pentru licența de pilot privat - Meteorologie</a>
        <a href="assets/aviatie-naviganti/principii_zbor.pdf" class="link odd">Manual de pregătire teoretică pentru licența de pilot privat - Principiile Zborului</a>
        <a href="assets/aviatie-naviganti/navigatie.pdf" class="link even">Note de curs ale Organizaţiei de Pregătire Aprobate (ATO) - Navigație</a>
        <a href="assets/aviatie-naviganti/proceduri.pdf" class="link odd">Note de curs ale Organizaţiei de Pregătire Aprobate (ATO) - Navigație, Proceduri</a>
        <a href="assets/aviatie-naviganti/performante_umane.pdf" class="link even">Note de curs ale Organizaţiei de Pregătire Aprobate (ATO) - Performanțe Umane</a>
        <a href="assets/aviatie-naviganti/performanta_zbor.pdf" class="link odd">Note de curs ale Organizaţiei de Pregătire Aprobate (ATO) - Performanțe de Zbor și Planificarea
                                                                                 Zborului</a>
        <a href="assets/aviatie-naviganti/regulament_zbor.pdf" class="link even">Regulamentul pentru zbor al Aviației Militare - F.A./Av.-1</a>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <img class="card-img-top" src="assets/img/books.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Manuale Control Trafic Aerian și Avigație Naviganți</h4>
      <p class="card-text"><small class="text-muted">Academia Forţelor Aeriene „Henri Coandă”</small></p>
      <div class="d-grid">
        <a href="assets/trafic-aerian/air_traffic_management.pdf" class="link odd">Air Traffic Flow Management and Airspace Management</a>
        <a href="assets/trafic-aerian/construction_procedures.PDF" class="link even">Amendment No. 3 to the Procedures for Air Navigation Services - Aircraft Operations</a>
        <a href="assets/trafic-aerian/air_ops.pdf" class="link odd">Anexe la proiectul de regulament al Comisiei privind „Operaţiunile aeriene - OPS”</a>
        <a href="assets/trafic-aerian/search_rescue.pdf" class="link even">Annex 12 to the Convention on International Civil Aviation - Search and Rescue</a>
        <a href="assets/trafic-aerian/aerodromes.pdf" class="link odd">Annex 14 to the Convention on International Civil Aviation - Aerodromes</a>
        <a href="assets/trafic-aerian/aerodromes.pdf" class="link even">Annex 15 to the Convention on International Civil Aviation - Aeronautical Information Services</a>
        <a href="assets/trafic-aerian/air_rules.pdf" class="link odd">Annex 2 to the Convention on International Civil Aviation - Rules of the Air</a>
        <a href="assets/trafic-aerian/operation_of_aircraft.pdf" class="link even">Annex 6 to the Convention on International Civil Aviation - Operation of Aircraft - Part III</a>
        <a href="assets/trafic-aerian/cerinte.pdf" class="link odd">Cerințe Esențiale Privind Reglementarea Siguranței și Interoperabilității Aerodromurilor</a>
        <a href="assets/trafic-aerian/civil_militray.pdf" class="link even">Civil/Military Coopperation in Air Traffic Management</a>
        <a href="assets/trafic-aerian/cod_aerian.pdf" class="link odd">Codul Aerian din 18 martie 2020</a>
        <a href="assets/trafic-aerian/comission_regulation.pdf" class="link even">Comission Regulation No 255/2010 of 25 March 2010 laying down common rules on air traffic flow
                                                                                  management</a>
        <a href="assets/trafic-aerian/chicago_convention.pdf" class="link odd">Convention On International Civil Aviation Done At Chicago on the 7th Day of December 1944</a>
        <a href="assets/trafic-aerian/document.pdf" class="link even">Decizia Directorului General al Autorității Aeronautice Civile Române - Nr. 1945</a>
        <a href="assets/trafic-aerian/decizie_director.pdf" class="link odd">Decizia Directorului General al Autorității Aeronautice Civile Române - Nr. 767</a>
        <a href="assets/trafic-aerian/easy_access_rules.pdf" class="link even">Easy Access Rules for Standardised European Rules of the Air (SERA)</a>
        <a href="assets/trafic-aerian/iamsar.pdf" class="link odd">IAMSAR Manual International Aeronautical and Maritime Search and Rescue Manual</a>
        <a href="assets/trafic-aerian/sar_agreements.pdf" class="link even">IAMSAR Manual Volume I</a>
        <a href="assets/trafic-aerian/aero_maritim.pdf" class="link odd">IAMSAR Manual Volume II - Mission Co-ordination International Aeronautical and Maritime Search and Rescue
                                                                         Manual</a>
        <a href="assets/trafic-aerian/meteo.pdf" class="link even">IFPS Users Manual - Network Manager</a>
        <a href="assets/trafic-aerian/eurocontrol.pdf" class="link odd">IFPS Users Manual - Network Manager Control</a>
        <a href="assets/trafic-aerian/examen_proceduri.pdf" class="link even">Întrebari Examen Proceduri Aeronautice Grupele CTA si METEO</a>
        <a href="assets/trafic-aerian/risc_operational.pdf" class="link odd">Manual de Management al Riscului Operațional pentru Procesele de Siguranță Aeronautică -
                                                                             F.A./Av.-17</a>
        <a href="assets/trafic-aerian/psihologie_81.pdf" class="link odd">Manual de Psihologie Pentru Controlorii de Trafic Aerian</a>
        <a href="assets/trafic-aerian/civil_military_cooperation.pdf" class="link even">Manual on Civil-Military Cooperation in Air Traffic Management</a>
        <a href="assets/trafic-aerian/asigurare_meteo.pdf" class="link odd">Manualul Asigurării Meteorologice în Forțele Aeriene - F.A 6</a>
        <a href="assets/trafic-aerian/cautare_salvare.pdf" class="link even">Manualul de Căutare și Salvare - F.A Av 1.11</a>
        <a href="assets/trafic-aerian/control_spatiu_aerian_fa3.pdf" class="link odd">Manual Pentru Controlul Spațiului Aerian - Exemplarul 148 - F.A. 3</a>
        <a href="assets/trafic-aerian/control_aerian_fa3.pdf" class="link even">Manual Pentru Controlul Spațiului Aerian - F.A. 3</a>
        <a href="assets/trafic-aerian/control_trafic_fa31.pdf" class="link odd">Manual Pentru Controlul Spațiului Aerian Operațional - F.A. 3.1</a>
        <a href="assets/trafic-aerian/modificari_completari_1.pdf" class="link even">Modificări și Completări la F.A.3-1 - Manualul pentru Controlul Traficului Aerian
                                                                                     Operațional</a>
        <a href="assets/trafic-aerian/air_operation.pdf" class="link odd">Official Journal of the European Union - Regulations</a>
        <a href="assets/trafic-aerian/ordin_2007.pdf" class="link even">Ordin nr. 53 din 22 ianuarie 2007</a>
        <a href="assets/trafic-aerian/ordin_2020.pdf" class="link odd">Ordin nr. 642 din 12 februarie 2020</a>
        <a href="assets/trafic-aerian/siguranta_aviatie.pdf" class="link even">Planul Național de Siguranță a Aviației Civile - 2021-2025</a>
        <a href="assets/trafic-aerian/air_traffic_mng.pdf" class="link odd">Procedures For Air Navigation Services - Air Traffic Management</a>
        <a href="assets/trafic-aerian/aircraft_operations.pdf" class="link even">Procedures For Air Navigation Services - Aircraft Operations</a>
        <a href="assets/trafic-aerian/instruire.pdf" class="link odd">Programul Cadru de Instruire Individuală a Navigatorilor de Sol - Controlorilor Militari de Trafic Aerian</a>
        <a href="assets/trafic-aerian/reglementare_2016.pdf" class="link even">Reglementare din 20 iulie 2016</a>
        <a href="assets/trafic-aerian/reglementari_2014.pdf" class="link odd">Reglementări din 30 decembrie 2014</a>
        <a href="assets/trafic-aerian/regulament_zbor.pdf" class="link even">Regulament din 24 ianuarie 2021</a>
        <a href="assets/trafic-aerian/regulament_comisie.pdf" class="link odd">Regulamentul de Punere În Aplicare (UE) 2015/1018 al Comisiei</a>
        <a href="assets/trafic-aerian/regulation_2004.pdf" class="link even">Regulation (EC) No 549/2004 of The European Parliament and of The Council of 10 March 2004</a>
        <a href="assets/trafic-aerian/sea_border_regulation.pdf" class="link odd">Regulation (EU) No 656/2014 of The European Parliament and of The Council of 15 May 2014</a>
        <a href="assets/trafic-aerian/comission_regulation_2012.pdf" class="link even">Regulations - Comission Implementing Regulation (EU) No 923/2012</a>
        <a href="assets/trafic-aerian/report_activities.pdf" class="link odd">Report of Activities of The GESEA and Subgroups</a>
        <a href="assets/trafic-aerian/sar_medevac.pdf" class="link even">SAR and MEDEVAC</a>
        <a href="assets/trafic-aerian/solas.pdf" class="link odd">Treaties and international agreements registered on 30 June 1980 No. 18961</a>
        <a href="assets/trafic-aerian/conventie_viena.pdf" class="link even">United Nations Convention Against Illicit Traffic in Narcotic Drugs and Psychotropic Substances,
                                                                             1988</a>
        <a href="assets/trafic-aerian/convention_crime.pdf" class="link odd">United Nations Convention Against Transnational Organized Crime and The Protocols Thereto</a>
        <a href="assets/trafic-aerian/sea_law.pdf" class="link even">United Nations Convention on the Law of the Sea</a>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <img class="card-img-top" src="assets/img/toy_plane.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Manuale Meteorologie Aeronautică</h4>
      <p class="card-text"><small class="text-muted">Academia Forţelor Aeriene „Henri Coandă”</small></p>
      <div class="d-grid">
        <a href="assets/meteo-aeronautica/atc_intro.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 1 - Introducere</a>
        <a href="assets/meteo-aeronautica/atc_atmIcao.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 2 - Atmosfera Standard</a>
        <a href="assets/meteo-aeronautica/atc_compozitie.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 2 - Compoziţia si Structura atmosferei</a>
        <a href="assets/meteo-aeronautica/atc_aer.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 2 - Mase de Aer şi Circulaţia Globală</a>
        <a href="assets/meteo-aeronautica/atc_front.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 2 - Sisteme Barice şi Fronturi Atmosferice</a>
        <a href="assets/meteo-aeronautica/atc_apa.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 3 - Apa în atmosferă</a>
        <a href="assets/meteo-aeronautica/atc_caldura.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 3 - Căldura și Temperatura</a>
        <a href="assets/meteo-aeronautica/atc_presiune.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 3 - Presiunea Aerului</a>
        <a href="assets/meteo-aeronautica/atc_forfecare.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 4 - Forfecarea Vântului</a>
        <a href="assets/meteo-aeronautica/atc_givraj.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 4 - Givraj</a>
        <a href="assets/meteo-aeronautica/atc_nori.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 4 - Nori</a>
        <a href="assets/meteo-aeronautica/atc_oraj.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 4 - Orajul și Norul Orajos</a>
        <a href="assets/meteo-aeronautica/atc_ppn.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 4 - Precipitații</a>
        <a href="assets/meteo-aeronautica/atc_turbulenta.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 4 - Turbulența</a>
        <a href="assets/meteo-aeronautica/atc_vizibilitate.pdf" class="link odd">Curs ATCO Basic Training - Rating Training Modulul 4 - Vizibilitate</a>
        <a href="assets/meteo-aeronautica/atc_vant.pdf" class="link even">Curs ATCO Basic Training - Rating Training Modulul 4 - Vânt</a>
        <a href="assets/meteo-aeronautica/meteo_generala.pdf" class="link odd">Curs Meteorologie Generală și Fizica Atmosferei</a>
        <a href="assets/meteo-aeronautica/fizica_atmosfera.pdf" class="link even">Fizica Atmosferei, Vremea și Clima</a>
        <a href="assets/meteo-aeronautica/climatology_geography.pdf" class="link odd">Meteorology</a>
        <a href="assets/meteo-aeronautica/global_climate.pdf" class="link even">WMO Statement on the State of the Global Climate in 2017</a>
      </div>
    </div>
  </div>
</div>

<footer class="footer p-4 w-100">
  <span class="text-white ms-5">Dinu Iulia Anisia @ 2022 - All Rights Reserved</span>
</footer>
